@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&family=Inter:wght@500;600;700&display=swap');

*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
html{
    font-size: 65.2%;
    scroll-behavior: smooth;
    --backgroundFooter:#111111;
    --backgroundDefaultElements:#000000;
    --backgroundInputs: #ECECEC;
    --white:#FFFFFF;
    --colorTextCard:#666666;
    --errorMessage:#ff0000;
}
/*LOGIN,REGISTER,RETRIEVE  AND PAGE*/
body{
    flex-direction: column;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.justFlex{
    display: flex;
    text-align: left;
}
.full-size{
    height: calc(100vh - 7.5rem);
    width: 100%;
}
.full-sizeHome{
    height: calc(100vh - 16.3rem);
    width: 100%;
}.full-sizeFalse{
    height: calc(100vh - 14.3rem);
    width: 100%;
}
.form-container{
    flex: 1.1;
}

.form-container form{
    display: flex;
    flex-direction: column;
}
.sty-label{
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 1.5rem;
}

.center-text{
    text-align: center;
    color: black;
}
.title-form{
    font-family: 'Barlow';
    font-weight: bold;
    color: var(--backgroundDefaultElements);
    font-size: 4.8rem;
    margin-bottom: 1.5rem;
}
.dra{
    font-size: 3.5rem;
}
.size-inputs{
    width: 30.9rem;
    height: 3.5rem;
}
.styles-input{
    background-color: var(--backgroundInputs);
    outline: none;
    border: transparent;
    border-radius: 0.8rem;
    font-family: 'Inter';
    padding: 2rem;
    font-size: 1.5rem;
    color: var(--backgroundDefaultElements);
}
.link{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--backgroundDefaultElements);
    opacity: 0.6;
    margin-top: 1rem;
}
.sb-style{
    font-family: 'Inter';
    font-weight: 500;
    outline: none;
    border: transparent;
    width: 30.9rem;
    height: 3.5rem;
    border-radius: 0.8rem;
    font-size: 1.7rem;
    color: var(--white);
    cursor: pointer;
    margin-top: 1rem;
    background-color: var(--backgroundFooter);
}
.sb-style:active{
    background-color: rgb(102, 187, 106);
    transition: 300ms all ease;
}
.sb-style-upload{
    font-family: 'Inter';
    font-weight: 500;
    outline: none;
    border: transparent;
    width: 30.9rem;
    height: 3.5rem;
    border-radius: 0.8rem;
    font-size: 1.7rem;
    color: var(--white);
    cursor: pointer;
    margin-top: 1rem;
    background-color: var(--backgroundFooter);
}
.size-input-name-item{
    width: 30.9rem;
    height: 3.5rem;
}

.mt-message{
    position: absolute; 
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}
footer{
    min-height: 7.5rem;
    max-height: 100%;
    width: 100%;
    background-color: var(--backgroundFooter);
    
}
footer p {
    color: var(--white);    
    font-family: 'Inter';
    font-weight: bold;
    font-size: 1.3rem;
    display: inline-block; /* Adicione esta linha */
}

footer p span {
    padding: 0.2rem;
    border-radius: 100%;
    vertical-align: middle; /* Adicione esta linha */
}

footer p span svg {
    vertical-align: middle; /* Adicione esta linha */
    margin-bottom: 2px; /* Adicione esta linha se necessário para ajustar a posição vertical */
}

.custom-loader {
    width: 100px;
    height: 100px;
    display: none;
}
/*ANIMATIONS*/
.custom-loader::before,
.custom-loader::after {    
    content:"";
    grid-area: 1/1;
    --c: radial-gradient(farthest-side,#1C1A3A 92%,#0000);
    background: 
      var(--c) 50%  0, 
      var(--c) 50%  100%, 
      var(--c) 100% 50%, 
      var(--c) 0    50%;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    animation: s2 1s infinite;
}
.custom-loader::before {
  margin:8px;
  filter:hue-rotate(45deg);
  background-size: 16px 16px;
  animation-timing-function: linear
}

@keyframes s2{ 
  100%{transform: rotate(.5turn)}
}

/*FLIP CARD*/
.flip-vertical-left {
	-webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
	        animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

@-webkit-keyframes flip-vertical-left {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(-180deg);
              transform: rotateY(-180deg);
    }
  }
  @keyframes flip-vertical-left {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(-180deg);
              transform: rotateY(-180deg);
    }
  }
  

/* INPUTS AND TITLE PAGE HOME*/
header{
    width: 100%;
    padding: 1rem 0rem 1rem 0rem;
    background-color: var(--backgroundFooter);
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.title-home  {
    font-size: 3.2rem;
    color: var(--white);
    display: inline-block;
    font-family: 'Barlow';
    font-weight: bold;
    margin-left: 5rem;
    
}
.sb-mob-logout{
    background-color: transparent;
    border: transparent;
    width: 100%;
    display: block;
    cursor: pointer;
}
.title-home a{
    color: inherit;
}
.full-size-grow{
    width: 100%;
    flex-grow: 1;
}
/*MAGNIFIC GLASS AND INPUT*/
.fg--search {
    background: white;
    position: relative;
    width: 50rem;
    border-radius: 1rem;
  }
.input-filter {
    width: 100%;
    padding: 1.5rem;
    display: inline-block;
    outline: none;
    border: transparent;
    border-radius: 1rem;
    font-size: 1.6rem;
  }
.fg--search button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.1rem;
    z-index: 2;
  }
  .adjust_img_notify{
    width: 5rem;
    border-radius: 0.8rem;
  }
  .fg--search button img {
     width: 2.5rem;
  }
  /*IMGS UPLOAD MESSAGE,LOG OUT*/
  .imgs-link figure img{
     width: 3rem;
     cursor: pointer;
  }
  .imgs-link figure{
     
     display: inline-block;
     padding: 1rem;
     cursor: pointer;
   
  }
  .imgs-link figure form  button{
    background-color: var(--white);
    border: transparent;
    
  }
  header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .imgs-link{
    margin-right: 5rem;
    background-color: white;
    border-radius: 5rem;
  }
  .imgs-link  figure{
        margin-right: 2rem;
  }
  .imgs-link  figure:last-child{
    margin-right: 0rem;
    transition: 300ms;
}
.active{
     background-color: blue;
}
.imgs-link figure form button  {
    background-color: transparent;
}
.imgs-link  figure:hover{
    transform: scale(1.2);
    transition: 300ms;
}
/*

.imgs-link  figure:hover,.imgs-link  figure:last-child:hover, .imgs-link  figure form:last-child:hover,.imgs-link figure form button:last-child:hover,.imgs-link figure form button img:last-child:hover{
    background-color: tomato;
    transition: 300ms;
}*/
  /*CARDS PAGE HOME*/
  .cards{
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 2rem;
  }
  .card{
    display: flex;
    flex-direction: column;
     margin: 1rem;
     min-height: 38.72rem;
     width: 28rem;
     border-radius: 1rem;
     box-shadow: 0px 0px 17px -3px rgba(0,0,0,0.1);
     transition: ease 300ms;
     cursor: pointer;
     overflow: hidden;
     word-wrap: break-word;
  }
  .card:hover{
    transition: ease 300ms;
    box-shadow: 0px 0px 7px 9px rgba(0,0,0,0.1);
  }
  .card figure img{
     width: 100%;
     height: 19rem;
     border-radius: 1rem;
  }
  .title-card{
    color: var(--backgroundDefaultElements);
    font-family: 'Inter';
    font-weight: 600;
    margin: 1rem;
  }
  .title_res_notify{
    color: var(--backgroundDefaultElements);
    font-family: 'Inter';
    font-weight: 600;
    margin-left: 0.5rem;
  }
  .questions-container p {
    overflow: hidden;
    word-wrap: break-word;
  }
  .p_card_res_notify{
    color: var(--colorTextCard);
    font-family: 'Inter';
    font-weight: 500;
    margin: 0.5rem 0rem 0rem 0.5rem;
    word-wrap: break-word;
  }
  .p-card{
    color: var(--colorTextCard);
    font-family: 'Inter';
    font-weight: 500;
    margin: 1rem;
  }
  .text-3xl{
    font-size: 2.5rem;
  }
  .text-xl{
    font-size: 2rem;
  }
  .text-xs{
    font-size: 1.6rem;
  }
  .st-blue{

    color: #0000EE;
  }
  .bt-card{
    background-color: var(--backgroundFooter);
    outline: none;
    color: var(--white);
    padding: 1.5rem 2.8rem 1.5rem 2.8rem;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 1.4rem;
    border-radius: 0.8rem;
    margin: 1rem;
    border: transparent;
    cursor: pointer;
  }

  /*UPLOAD PAGE*/
.upload-container{
    margin: 1rem 0rem 0.5rem 0rem;
}
.upload-form{
    padding: 2rem;
    justify-content: center;
    box-shadow: 0px 0px 17px -3px rgba(0,0,0,0.1);
    border-radius: 1.5rem;
}
.si-tu{
    width: 35rem;
}
.bt-upload{
    width: 100%;
    padding: 1rem;
    height: 4rem;
}
.textArea{
     width: 35rem;
     height: 8rem;
     padding: 1rem;
}
.dif-heigh-text{
    padding: 1rem;
    height: 10rem;
}
.label-upload{
    margin-top: 0.1rem;
    font-size: 1.6rem;
    font-weight: 600;
}
.m-1{
    margin: 1rem;
}
.mt-1{
    margin-top: 1rem;
}
.mt-1_5{
    margin-top: 1.5rem;
}
.input-textArea{
    width: 96%;
    height: 13rem;
}
.img-forum{
    width: 50rem;
    height: 30rem;
    border-radius: 0.8rem;
}
.messages-container{
    margin-bottom: 2rem;
}
.info-item{
    box-shadow: 0px 0px 17px -3px rgba(0,0,0,0.1);
    padding: 0rem 0rem 1rem 0rem;
    border-radius: 0.8rem;
    max-width: 50rem;
}
.message{
    box-shadow: 0px 0px 17px -3px rgba(0,0,0,0.1);
    border-radius: 0.8rem;
    width: 50rem;
    padding: 1rem;
    transition: 300ms ease;
    cursor: pointer;
    word-wrap: break-word;
}
.t{
    text-align: left;
}
.container_messages_view{
    box-shadow: 0px 0px 17px -3px rgba(0,0,0,0.1);
    border-radius: 0.8rem;
    width: 50rem;
    padding: 1rem;
    transition: 300ms ease;
    cursor: pointer;
    text-align: left;
}
.message:hover,.container_messages_view:hover{
    transition: ease 300ms;
    box-shadow: 0px 0px 7px 9px rgba(0,0,0,0.1);
    
}
.menu-toggle div {
    transition: transform 0.3s, opacity 0.3s;
}

.links-hidden {
    transition: display 0.3s;
}
/* MEDIA QUERIES */
@media screen and (min-width:891px){
    .links-hidden a,.sb-mob-logout{
        display: none;
    }
    
}
@media  screen and (max-width:1033px) {
    .links-hidden{
        width: 100%;
        background-color: var(--backgroundFooter);
        text-align: center;
        z-index: 999;
        position: absolute;
        display: none;
    }
    .links-hidden  a,.sb-mob-logout {
        color: var(--white);
        padding: 1rem;
        display: block;
        font-size: 2rem;
        font-family: 'Inter';
        font-weight: 400;
        transition: 300ms ease; 
    }
    .links-hidden a:hover,.sb-mob-logout:hover{
        transition: 300ms ease;
        background-color: var(--white);
        color: var(--backgroundFooter);
    }
    .imgs-link{
        display: none;
    }
    .one,.two,.three{
        background-color: var(--white);
        width: 100%;
        height: 0.5rem;
        margin: 0.6rem auto;
    }
    .menu-toggle{
        width: 4rem;
        height: 3rem;
        margin-right: 2rem;
    }
    .fg--search{
        width: 40rem;
    }
}
.menu-toggle{
    cursor: pointer;
}
@media screen and (max-width:641px) {
    .card{
        width: 35rem;
    }
     .card figure img{
        height: 25rem;
    }
    .bt-card{
        width: 94%;
        font-size: 1.8rem;
        padding: 1rem 2.8rem 1rem 2.8rem;
    }
}
@media screen and (max-width:615px){
    .fg--search{
        width: 30rem;
    }
    .title-home{
        margin-left: 3rem;
    }
}
@media screen and (max-width:533px) {
    .img-forum{
        width: 30rem;
        height: 20rem;
    }
    .text-rs{
        font-size: 1.3rem;
    }
    .message,.container_messages_view{
        width: 30rem;
    }
    .text-rs-message{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:488px){
    .fg--search{
        width: 25rem;
    }
    .input-filter::placeholder{
        font-size: 1.3rem;
    }
    .title-home{
        margin-left: 2rem;
    }
}
@media screen and (max-width:450px) {
    footer p{
        font-size: 1rem;
    }
    footer p span{
        padding: 0.3rem;
    }
}
@media screen and (min-width:441px){
    .input-search-hidden,.submit-search-hidden,.form-input-search-hidden{
        display: none;
    }
    .submit-search-hidden{
        margin-top: 1rem;
    }
}
@media screen and (max-width:440px){
.form-group{
    display: none;
}
.input-search-hidden{
    outline: none;
    border: transparent;
    padding: 1rem;
    border-radius: 0.8rem;
}
.submit-search-hidden{
   padding: 1rem; 
   outline: none;
   border: transparent;
   border-radius: 0.8rem;
}
   
}
@media screen  and (max-width:400px){
    .card{
        width: 30rem;
    }
     .card figure img{
        height: 25rem;
    }
}
@media screen and (max-width:360px) {
    footer p{
        font-size: 0.8rem;
    }
    footer p span{
     padding-bottom: 0rem;
    }
    .sb-style-upload{
        width:25rem;
      
    }
    .textArea{
        width: 25rem;
    }
    .textArea::placeholder{
        font-size: 1.2rem;
    }
    .upload-form{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .size-input-name-item{
        width: 20rem;
    }
}
@media screen and (max-width:345px) {
    .card{
        width: 25rem;
    }
     .card figure img{
        height: 20rem;
    }
}

@media screen and (max-width:327px) {
    .size-inputs{
        width: 23rem;
        height: 3rem;
    }
    .sb-style{
        width: 23rem;
        height: 3rem;
    }
    
}
@media screen and (max-width:324px){
    .bt-upload{
        width: 100%;
    }
    .img-forum{
        width: 27rem;
        height: 17rem;
    }
    .input-textArea{
        width: 90%;
    }
    .info-item{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .message,.container_messages_view{
        width: 25rem;
    }
}
@media screen and (max-width:295px) {
    .img-forum{
        width: 25rem;
    }  
    .input-textArea{
        width: 88%;
    }  
}
@media screen and (max-width:282px){
    .submit-search-hidden{
        margin-top: 1rem;
    }
}
@media screen and (max-width:280px) {
    .card{
        width: 25rem;
    }
    .bt-card{
        width: 90%;
    }
     .card figure img{
        height: 20rem;
    }
    .bt-card{
        font-size: 1.3rem;
    }
    footer p{
        font-size: 0.6rem;
    }
    footer p span{
     padding: 0.2rem 0.2rem 0.01rem 0.1rem;
    }
    footer p span img{
        width: 0.7rem;
        height: 0.7rem;
    }
    footer{
        width: 100%;
    }
    .size-inputs{
        width: 20rem;
        height: 3rem;
    }
    .sb-style{
        width: 20rem;
        height: 3rem;
    }
    .title-form{
        font-size: 3.8rem;
    }
    .register-retrieve{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .text-xl{
        font-size: 1.5rem;
    }
    .title-rs{
        font-size: 2rem;
    }
    .text-xs{
        font-size: 1.4rem;
    }
    .textArea{
        width: 20rem;
    }
    .upload-form{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .sb-style-upload{
        width: 20rem;
    }
   input[type='file']{
        width: 20rem;
   }
}


/*STYLES MESSAGES LOGIC BACK-END*/
.color-red{
    color:var(--errorMessage);
}